# Variables de entorno — nunca subir credenciales
.env
.env.local
.env.production

# NestJS / Node
services/users-service/node_modules/
services/users-service/dist/

# Spring Boot
services/orders-service/.gradle/
services/orders-service/build/
services/orders-service/target/
*.jar

# IDEs
.idea/
.vscode/
*.iml

# Docker
.docker/

# OS
.DS_Store
Thumbs.db